[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AlonsoGarcia
[access "refs/for/refs/*"]
	read = group user/AlonsoGarcia
	push = group user/AlonsoGarcia
	label-Code-Review = -2..+2 group user/AlonsoGarcia
	label-Verified = -1..+1 group user/AlonsoGarcia
	rebase = group user/AlonsoGarcia
	removeReviewer = group user/AlonsoGarcia
	submit = group user/AlonsoGarcia
[access "refs/heads/*"]
	read = group user/AlonsoGarcia
	create = group user/AlonsoGarcia
	push = +force group user/AlonsoGarcia
	pushMerge = group user/AlonsoGarcia
[access "refs/tags/*"]
	push = group user/AlonsoGarcia
	push = +force group user/AlonsoGarcia
